@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Kanit&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

.containerabout{
  width: 100%;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  background-size: cover;
  background-position: center;
}
.content{
  max-width: 60%;
  padding-top: 5%;
  position: absolute;
  bottom: 15%;
}
.content h2{
  font-size: 50px;
  color: #ffffff;
}
.content p{
  margin-top: 10px;
  line-height: 25px;
  color: #fffef9e6;
  font-family: "Kanit", sans-serif;
}
.page{
  height: 100vh;
}
.pdf{
  height: 90vh;
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 20px 0;
}
.detail{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.detail h3{
  padding-top: 30px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-family: system-ui;
  width: 95%;
}

.detail h3::before,
.detail h3::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #ffffff; 
    margin: 0 10px;
}

.pic{
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 0 40px 0;
  gap: 20px;
}
.pic img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
  aspect-ratio: 1/1;
}

video{
  padding: 20px 0;
  height: 95vh;
  object-fit: cover;
}

.videoyoutube{
  height: 95vh;
  padding: 20px 0 40px 0;
  display: flex;
  justify-content: center; 
  object-fit: cover;
}

.webpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.webpage img{
  width: 95%;
}

.webpage .pageinfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  font-size: 18px; 
  font-weight: 500;
  display: flex; 
  align-items: center; 
  padding-top: 35px;
  color: rgb(255, 255, 255);
}

button i {
  margin-right: 10px; 
  transition: transform 0.3s;
}

button:hover{
  color: #e4e2e2;
}

button:hover i {
  transform: translateX(-3px); 
}

#btt{
  padding: 12px 15.75px;
  border: 5px solid #060918;
  background-color: #FDDE55;
  color: #000000;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 30px;
  display: none;
  transition: transform 0.3s ease;
  z-index: 1000;
}
#btt i{
  margin: 0;
}
#btt:hover i{
  transform: translateY(0px);
}

#btt:hover {
  animation: bounce 0.3s infinite alternate;
}

.content .web {
  padding: 10px 20px;
  background-color: #FFCC70;
  color: #000000;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid #FFCC70;
  text-decoration: none;
}

.content .web:hover {
  color: #e7e7e7; 
  border-color: #e7e7e7; 
  background-color: transparent;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}


@media(max-width: 636px){
  .content{
    max-width: 80%;
    bottom: 5%;
  }
  .content h2{
    font-size: 40px;
  }
  .pdf{
    height: 70vh;
  }
  .detail h3{
    font-size: 20px;
  }
  .pic{
    grid-template-columns: 1fr;
    margin: 0 0 40px 0;
    gap: 10px;
  }
  .pic img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/0.6;
  }
  video{
    height: 40vh;
    padding: 10px 0 30px 0;
  }
  .videoyoutube{
    height: 35vh;
    padding: 0 0 40px 0;
  }
}
