@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
}

/* สไตล์ของ Navbar */
.navbar {
  overflow: hidden;
  backdrop-filter: blur(7px);
  background-color: rgba(6, 9, 24, 0.479);
  border: 1px solid rgba(255, 255, 255, 0.219); /* เพิ่มเส้นขอบเพื่อเชื่อมต่อสีเช้ม */
  position: fixed; /* ทำให้ Navbar ติดอยู่ด้านบน */
  width: 90%; /* ขยาย Navbar ให้เต็มขนาดของหน้าจอ */
  left: 5%;
  top: 15px; /* ตำแหน่งด้านบนของหน้าจอ */
  z-index: 1000; /* กำหนดความสูงให้สูงกว่าเนื้อหาอื่น */
  border-radius: 27.5px;
}
  
/* ลิงค์ใน Navbar */
.navbar a {
  display: block;
  color: #f2f2f2;
  padding: 15px 30px;
  text-decoration: none;
}

.navbar h2 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}

.navbar ul {
  float: right;
  list-style: none;
  position: relative;
}

.navbar ul li{
  display: inline-block;
}
  
/* ลิงค์ใน Navbar เมื่อ hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
  
/* แสดงคอนเท็นต่างๆ */
.tabcontent {
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.icon,#btn{
  display: none;
}

#btt{
  padding: 12px 15.75px;
  border: 5px solid #211c69;
  background-color: #ffffff;
  color: #000000;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 30px;
  display: none;
  transition: transform 0.3s ease;
  z-index: 1000;
  cursor: pointer;
}

#btt i{
  margin: 0;
}

#btt:hover {
  animation: bounce 0.3s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media(max-width: 636px){
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  .navbar ul {
    margin-right: 0px;
    float: left;
    width: 100%;
    clear: both;
    padding: 0 3% 3% 3%;
  }
  .navbar ul li{
    display: block;
    width: 100%;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    font-size: 25px;
    cursor: pointer;
  }
  ul {
    display: none;
  }
  #btn:checked ~ ul {
    display: block;
  }
  #btn{
    display: none;
  }
  .tabcontent {
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  span{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}