<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/about.css"/>
</head>
<body>
  <div class="containerabout">
    <div class="content">
      <h3>Hi, my name is</h3><h2>Pichayapa Prasertwit</h2>
      <p> I'm a computer engineering student at KMITL.</p>
    </div>
    <div class="link">
      <a href="#contact" class="hire">Contact Me</a>
    </div>
  </div>
</body>
</html>

