<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/about.css"/>
</head>
<body>
  <div>

    <div class="containerabout">
      <div class="content">
        <br/>
        <h3>Hi, my name is</h3><h2>Pichayapa Prasertwit</h2>
        <p> I'm a computer engineering student at KMITL.</p>
      </div>
      <div class="link">
        <a href="#contact" class="hire">Contact Me</a>
      </div>
    </div>

    <div class="aboutdetail" >
      <div class="about">
        <h3 data-text="ABOUT&nbsp;ME">ABOUT ME</h3>
        <div class="detailprofile">
          <p>I'm Pichayapa Prasertwit, also known as 'Baimon'. I'm a third-year student studying Computer Engineering in the field of IoT System and Information at King Mongkut's Institute of Technology Ladkrabang. In my course of study I took course in Software Engineering, Mobile Application Development and Database System.
          </p>
          <br/>
          <p>I have a passion for programing, whether it be web development or circuits programming. I put my heart into every project. I am constantly improving myself and never stop learning new things.</p>
        </div>        

      </div>
    </div>

    <div class="aboutdetail">
      <div class="act"><h3>UNIVERSITY ACTIVITIES</h3>
      <div class="grid">
        <div class="image-container">
          <img src="../static/pic/activity/1.jpg" alt="Activity 1">
          <div class="overlay">
            IoT Project Day 2022
            <p>Participated in presenting work in the course Circuit & Electronics and Introduction to IoT.</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/pic/activity/2.jpg" alt="Activity 1">
          <div class="overlay">
            KMITL Innovation Expo 2023
            <p>Participated in presenting the work of the Faculty of Engineering as one of the representative groups of the curriculum.</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/pic/activity/6.jpg" alt="Activity 1">
          <div class="overlay">
            Byenior ITE22
            <p>Served as a video editor.</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/pic/activity/3.jpg" alt="Activity 1">
          <div class="overlay">
            Pre IoTe 2023
            <p>Served as a staff during workshop activities on the subjects of Computer Programming and Circuit & IoT.</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/pic/activity/4.jpg" alt="Activity 1">
          <div class="overlay">
            K-Engineering World Tour and Workshop 2023
            <p>Served as a staff during workshop activities, creating a mobile question-answer game application and basic embedded system programming for the IoT system.</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/pic/activity/5.jpg" alt="Activity 1">
          <div class="overlay">
            K-Engineering World Tour and Workshop 2024
            <p>Served as a staff in the Sensor & Electronics in IoT system Arduino IoT workshop activity.</p>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>

  <script src="../static/js/gotocontact.js"></script>
  <script src="../static/js/animationText.js"></script>
</body>
</html>

