<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="contact">
      <div class="containercontact">
        <div class="contactInfo">
          <div class="content">
            <h2>Contact</h2>
          </div>
          <div class="box">
            <div class="iconpic">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>78/7 Soi Paholyothin1, Paholyothin Road, Phaya Thai district, Bangkok, 10400</p>
            </div>
          </div>

          <div class="box">
            <div class="iconpic">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>090-983-8001</p>
            </div>
          </div>

          <div class="box">
            <div class="iconpic">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <a href="mailto: pichayapa1147@gmail.com" class="email-link"> pichayapa1147@gmail.com </a>
            </div>
          </div>

          <div class="box">
            <div class="iconpic">
              <i class="fa-brands fa-github"></i>
            </div>
            <div class="text">
              <h3>Github</h3>
              <a href="https://github.com/Bbmxzz" class="email-link"> https://github.com/Bbmxzz </a>
            </div>
          </div>

        </div>

        <div class="contactForm">
          <form action="/submit" method="post" id="myForm">
            <h2>Send Message</h2>
            <div class="inputBox">
              <input type="text" name="name" required="required" />
              <span>Full Name</span>
            </div>
            <div class="inputBox">
              <input type="text" name="email" required="required" />
              <span>Email</span>
            </div>
            <div class="inputBox">
              <textarea required="required" name="message"></textarea>
              <span>Type your Message...</span>
            </div>
            <div class="inputBox">
              <input type="submit" name="" value="send"/>
            </div>
          </form>
        </div>
      </div>
    </section>
    
    <script src="../static/js/contact.js"></script>

  </body>
</html>