<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<div class="cover">
 <div class="containerproject">
    <div class="slide">

        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project7/7-3.png') }}');">
          <div class="content">
              <div class="tag">Software</div>
              <div class="name">Capbook</div>
              <div class="des">Year 3 project, Semester 1/2025</div>
              <button class="soft" onclick="window.open('/detailproject7', '_self');">See More</button>
          </div>
      </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project1/1-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Eye-to-Computer Screen Distance Detector</div>
                <div class="des">Year 1 project, Semester 1/2023</div>
                
                <button onclick="window.open('/detailproject1', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project2/2-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Code Converter</div>
                <div class="des">Year 1 project, Semester 2/2023</div>
                <button onclick="window.open('/detailproject2', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project3/3-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Arm Check Mirror</div>
                <div class="des">Year 1 project, Semester 2/2023</div>
                <button onclick="window.open('/detailproject3', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project4/4-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Unlock Temperature Controller</div>
                <div class="des">Year 2 project, Semester 1/2024</div>
                <button onclick="window.open('/detailproject4', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project5/5-1.jpg') }}');">
            <div class="content">
                <div class="tag">Software</div>
                <div class="name">To Do List</div>
                <div class="des">Year 2 project, Semester 2/2024</div>
                <button class="soft" onclick="window.open('/detailproject5', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project6/6-1.png') }}');">
          <div class="content">
              <div class="tag">Software</div>
              <div class="name">Preliminary Mental Assessment</div>
              <div class="des">Year 2 project, Semester 2/2024</div>  
              <button class="soft" onclick="window.open('/detailproject6', '_self');">See More</button>
          </div>
      </div>
    </div>
    <div id="image-data"
       data-url-7-1="{{ url_for('static', filename='pic/project7/7-3.png') }}"
       data-url-7-2="{{ url_for('static', filename='pic/project7/7-4.png') }}"
       data-url-1-2="{{ url_for('static', filename='pic/project1/1-2.png') }}"
       data-url-6-1="{{ url_for('static', filename='pic/project6/6-1.png') }}"
       data-url-6-2="{{ url_for('static', filename='pic/project6/6-2.png') }}"
       data-url-5-1="{{ url_for('static', filename='pic/project5/5-1.jpg') }}"
       data-url-5-4="{{ url_for('static', filename='pic/project5/5-4.png') }}"
       data-url-4-0="{{ url_for('static', filename='pic/project4/4-0.jpg') }}"
       data-url-4-1="{{ url_for('static', filename='pic/project4/4-1.jpg') }}"
       data-url-3-1="{{ url_for('static', filename='pic/project3/3-1.jpg') }}"
       data-url-3-2="{{ url_for('static', filename='pic/project3/3-2.jpg') }}"
       data-url-2-1="{{ url_for('static', filename='pic/project2/2-1.jpg') }}"
       data-url-2-2="{{ url_for('static', filename='pic/project2/2-2.jpg') }}"
       data-url-1-1="{{ url_for('static', filename='pic/project1/1-1.jpg') }}">
  </div>

    <div class="button">
        <button class="prev" ><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next" ><i class="fa-solid fa-arrow-right"></i></button>
    </div>
    
  </div>
  <div class="status-bar">
    <div class="status-item"></div>
    <div class="status-item"></div>
    <div class="status-item"></div>
    <div class="status-item"></div>
    <div class="status-item"></div>
    <div class="status-item"></div>
    <div class="status-item"></div>
  </div>
  <div class="aboutdetail">
    <div class="detailbox skill">
      <h3>My Skill</h3>
      <div class="box">
        <div class="namebox">
          <h4>Front-End</h4>
          <div class="fontend">
            <div class="logo">
              <img src="../static/pic/skill/html.png" alt="HTML">
              <p>HTML</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/css.png" alt="CSS">
              <p>CSS</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/js.png" alt="JavaScript">
              <p>JavaScript</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/react.png" alt="React">
              <p>React</p>
            </div>
          </div>
        </div>

        <div class="namebox">
          <h4>Back-End</h4>
          <div class="backend">
            <div class="logo">
              <img src="../static/pic/skill/python.png" alt="Python">
              <p>Python</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/nodejs.png" alt="Node Js">
              <p>Node JS</p>
            </div>
          </div>
        </div>

        <div class="namebox">
          <h4>Database</h4>
          <div class="database">
            <div class="logo">
              <img src="../static/pic/skill/firebase.png" alt="Firebase">
              <p>Firebase</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/mongodb.png" alt="MongoDB">
              <p>MongoDB</p>
            </div>
          </div>
        </div> 

        <div class="namebox">
          <h4>Ux/Ui</h4>
          <div class="uxui">
            <div class="logo">
              <img src="../static/pic/skill/figma.png" alt="Figma">
              <p>Figma</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/xd.png" alt="Adobe XD">
              <p>Adobe XD</p>
            </div>
          </div>
        </div>

        <div class="namebox">
          <h4>Other</h4>
          <div class="other">
            <div class="logo">
              <img src="../static/pic/skill/c.png" alt="C">
              <p>C</p>
            </div>
            <div class="logo">
              <img src="../static/pic/skill/arduino.png" alt="Arduino">
              <p>Arduino</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/project.js"></script>
</body>
</html>