<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
  <div class="containerproject">
    <div class="slide">
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project6/6-1.png') }}');">

            <div class="content">
                <div class="tag">Software</div>
                <div class="name">Preliminary Mental Assessment</div>
                <div class="des">Year 2 project, Semester 2/2024</div>
                <button onclick="window.open('/detailproject6', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project1/1-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Eye-to-Computer Screen Distance Detector</div>
                <div class="des">Year 1 project, Semester 1/2023</div>
                <button onclick="window.open('/detailproject1', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project2/2-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Code Converter</div>
                <div class="des">Year 1 project, Semester 2/2023</div>
                <button onclick="window.open('/detailproject2', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project3/3-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Arm Check Mirror</div>
                <div class="des">Year 1 project, Semester 2/2023</div>
                <button onclick="window.open('/detailproject3', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project4/4-1.jpg') }}');">
            <div class="content">
                <div class="tag">Hardware</div>
                <div class="name">Unlock Temperature Controller</div>
                <div class="des">Year 2 project, Semester 1/2024</div>
                <button onclick="window.open('/detailproject4', '_self');">See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ url_for('static', filename='pic/project5/5-1.jpg') }}');">
            <div class="content">
                <div class="tag">Software</div>
                <div class="name">To Do List</div>
                <div class="des">Year 2 project, Semester 2/2024</div>
                <button onclick="window.open('/detailproject5', '_self');">See More</button>
            </div>
        </div>
        

    </div>

    <div class="button">
        <button class="prev" ><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next" ><i class="fa-solid fa-arrow-right"></i></button>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        let nextImage = '{{ url_for('static', filename='pic/project1/1-2.png') }}';
        $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
        
        $('.next').click(function() {
            let items = $('.item');
            $('.slide').append(items.eq(0));
            console.log(items); // แสดงค่าของ items ใน console
            
            // เลือกรูปปัจจุบันของ .item ที่มีลำดับที่ 2
            let currentImage = $('.item:nth-child(2)').css('background-image');
            if (currentImage.includes('1-1.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project1/1-2.png') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project6/6-1.png') }}';
                $('.item:nth-child(1)').css('background-image', 'url(' + backImage + ')');
                
            } else if (currentImage.includes('2-1.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project2/2-2.jpg') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project1/1-1.jpg') }}';
                $('.item:nth-child(1)').css('background-image', 'url(' + backImage + ')');

            } else if (currentImage.includes('3-1.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project3/3-2.jpg') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project2/2-1.jpg') }}';
                $('.item:nth-child(1)').css('background-image', 'url(' + backImage + ')');

            } else if (currentImage.includes('4-1.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project4/4-0.jpg') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project3/3-1.jpg') }}';
                $('.item:nth-child(1)').css('background-image', 'url(' + backImage + ')');

            } else if (currentImage.includes('5-1.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project5/5-4.png') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project4/4-1.jpg') }}';
                $('.item:nth-child(1)').css('background-image', 'url(' + backImage + ')');

            } else if (currentImage.includes('6-1.png'))  {
                let nextImage = '{{ url_for('static', filename='pic/project6/6-2.png') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project5/5-1.jpg') }}';
                $('.item:nth-child(1)').css('background-image', 'url(' + backImage + ')');
            }
        });
      
        $('.prev').click(function() {
            let currentImg = $('.item:nth-child(2)').css('background-image');
            let items = $('.item');
            $('.slide').prepend(items.eq(items.length - 1));
            console.log(items); // แสดงค่าของ items ใน console

            if (currentImg.includes('1-2.png')) {
                let nextImage = '{{ url_for('static', filename='pic/project1/1-1.jpg') }}';
                $('.item:nth-child(3)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project6/6-2.png') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + backImage + ')');
                
            } else if (currentImg.includes('2-2.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project2/2-1.jpg') }}';
                $('.item:nth-child(3)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project1/1-2.png') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + backImage + ')');
        
            } else if (currentImg.includes('3-2.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project3/3-1.jpg') }}';
                $('.item:nth-child(3)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project2/2-2.jpg') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + backImage + ')');
        
            } else if (currentImg.includes('4-0.jpg')) {
                let nextImage = '{{ url_for('static', filename='pic/project4/4-1.jpg') }}';
                $('.item:nth-child(3)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project3/3-2.jpg') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + backImage + ')');
        
            } else if (currentImg.includes('5-4.png')) {
                let nextImage = '{{ url_for('static', filename='pic/project5/5-1.jpg') }}';
                $('.item:nth-child(3)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project4/4-0.jpg') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + backImage + ')');
        
            } else if (currentImg.includes('6-2.png'))  {
                let nextImage = '{{ url_for('static', filename='pic/project6/6-1.png') }}';
                $('.item:nth-child(3)').css('background-image', 'url(' + nextImage + ')');
                let backImage = '{{ url_for('static', filename='pic/project5/5-4.png') }}';
                $('.item:nth-child(2)').css('background-image', 'url(' + backImage + ')');
            }
        
        }); 
    });
    </script>
</body>
</html>