<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pichayapa Prasertwit | PORTFOLIO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="icon" href="../static/pic/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <button onclick="backtotop()" id="btt" title="Back to top"> 
    <i class="fas fa-arrow-up"></i>
  </button> 

  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgb(33, 28, 105,0.5), rgba(6 , 9, 24)), url(../static/pic/project7/7-4.png);">
    <div class='page' >
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>Capbook</h2>
        <p>(Python, Firebase, Roboflow, EasyOCR)</p><br/>
        <p>The Capbook website lets users save books by uploading pictures of their covers. It uses Artificial Intelligence to find the location of the book title by training a model with Roboflow. After finding the title's position, EasyOCR reads the book title, and the information is saved in Firebase.</p>
        <br/>
        <p>Responsible for connecting the database to the front-end and training the model on Roboflow.</p><br/><br/>
        <a class="web" href="https://capbook.streamlit.app/signup"><i class="fa-solid fa-eye"></i>&nbsp;&nbsp;View Project</a>
      </div>
    </div>
  </div>
  <div style="background: rgba(6 , 9, 24);">  
    <div class="webpage ">
      <div class="pageinfo">
        <img src="../static/pic/project7/7-1.png" alt="Capbook" >
      </div>
      <div class="pageinfo">
        <img src="../static/pic/project7/7-2.png" alt="Capbook" >
      </div>
      <div class="pageinfo">
        <img src="../static/pic/project7/7-3.png" alt="Capbook" >
      </div>
    </div>
  </div>
  <script src="../static/js/backtotop.js"></script>
</body>
</html>