<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pichayapa Prasertwit | PORTFOLIO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="icon" href="../static/pic/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <button onclick="backtotop()" id="btt" title="Back to top"> 
    <i class="fas fa-arrow-up"></i>
  </button> 

  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgb(33, 28, 105,0.5), rgba(6 , 9, 24)), url(../static/pic/project2/2-2.jpg)">
    <div class='page' >
      
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>Code Converter</h2>
        <p>Receive input from all 4 switches as a 4-bit binary number, then display the input as a hexadecimal value on a 7-segment display. If the value is a prime number, an LED will light up. Additionally, the value is displayed in Grey code through LEDs, and both the binary and Grey code values are shown on NETPIE.</p>
        <br/>
        <p>Responsible for wiring the circuit, programming and connecting it to display on NETPIE.</p>
      </div>
    </div>
  </div>
  <div style="background: rgba(6 , 9, 24);">
    <div class='detail'>
      <div class='pic'>
        <img src="../static/pic/project2/2-3.jpg" alt="Circuit" >
        <img src="../static/pic/project2/2-4.png" alt="Code" >
        <img src="../static/pic/project2/2-1.jpg" alt="Dashboard" >
      </div>
    </div>
  </div>
  <script src="../static/js/backtotop.js"></script>
</body>
</html>