<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgba(6, 9, 24, 0.5), rgba(6, 9, 24, 1)), url(../static/pic/project2/2-2.jpg)">
    <div class='page' >
      
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>Code Converter</h2>
        <p>ป้อนอินพุตจากสวิตช์ทั้ง 4 ตัวเป็นเลขฐานสองทั้งหมด 4 หลักจากนั้นจะมีการแสดงค่าที่ป้อนเป็นเลขฐานสิบหกบน 7segment และแสดงจำนวนเฉพาะผ่านหลอดไฟ LED แสดงค่าเป็น grey code ผ่านหลอดไฟ LED และแสดง binary code และ grey code บน NETPIE</p>
      </div>
    </div>
  </div>
  <div class='detail'>
    <div class='pic'>
      <img src="../static/pic/project2/2-3.jpg" alt="Circuit" >
      <img src="../static/pic/project2/2-4.png" alt="Code" >
      <img src="../static/pic/project2/2-1.jpg" alt="Dashboard" >
    </div>
    <video width="85%" height="100%" controls>
      <source src="../static/pic/project2/codeconverter.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</body>
</html>