<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <button onclick="backtotop()" id="btt" title="Back to top"> 
    <i class="fas fa-arrow-up"></i>
  </button> 

  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgb(33, 28, 105,0.5), rgba(6 , 9, 24)), url(../static/pic/project1/1-2.png); ">
    <div class='page' >
      
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>Eye-to-Computer Screen Distance Detector</h2>
        <p>วงจรที่ต่อเป็นวงจร IR sensor ซึ่งเป็นเซ็นเซอร์ตรวจจับวัตถุระยะใกล้ มีหลักการทำงานโดยให้หลอด Infrared LED ทำการส่งสัญญาณเป็นแสงอินฟราเรดออกไปตกกระทบกับวัตถุที่ตรวจพบในระยะ และทำการสะท้อนมายังตัวหลอดโฟโต้ไดโอดที่ทำหน้าที่รับแสงอินฟราเรด หลังจากนั้นทำการเชื่อมเข้ากับ Netpie เพื่อแสดงผลบนหน้าจอคอมพิวเตอร์</p>
      </div>
    </div>
  </div>
  <div style="background: rgba(6 , 9, 24);">
    <div class='pdf'>
      <iframe src="https://drive.google.com/file/d/1HoYO5ZpYNeoH-kh7gq4Rm8os1qcpu_9c/preview" width="95%" height="100%" allow="autoplay"></iframe>
    </div>
    <div class='detail'>
      <video width="95%"controls>
        <source src="../static/pic/project1/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class='pic'>
        <img src="../static/pic/project1/1-3.png" alt="Dashboard" >
        <img src="../static/pic/project1/1-4.png" alt="IRsensor" >
        <img src="../static/pic/project1/1-1.jpg" alt="Projest1" style="object-position:bottom;">
      </div>
    </div>
  </div>
  <script src="../static/js/backtotop.js"></script>
  
</body>
</html>
