<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <button onclick="backtotop()" id="btt" title="Back to top"> 
    <i class="fas fa-arrow-up"></i>
  </button> 
  
  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgba(6 , 9, 24, 0.4), #211c69), url(../static/pic/project6/6-0.png);">
    <div class='page' >
      
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>Preliminary Mental Assessment</h2>
        <p>(React, CSS, Node JS, Firebase)</p><br/>
        <p>เว็บไซต์ทำแบบประเมินสุขภาพจิตใจ โดยมีหน้าหลักไว้สำหรับอธิบายสาเหตุการเกิดโรค สามารถกดเข้าไปทำแบบประเมินผ่านทางเว็บไซต์หน้านี้ได้ ซึ่งมีแบบประเมินทั้งหมด 3 หัวข้อโดยประกอบไปด้วย
          แบบประเมินโรคซึมเศร้าด้วย 9 คำถาม, แบบประเมินความสุขของคนไทย และแบบประเมินความเครียด
          นอกจากนี้ยังสามารถกดไปยังหน้าอื่นๆ ได้ เช่น หน้าบทความที่จะให้ความรู้เบื้องต้นเกี่ยวกับโรคทั่วไป </p>
      </div>
    </div>
  </div>
  <div style="background-image: linear-gradient(to bottom, #211c69, rgba(6 , 9, 24));">
    <div class='pdf'>
      <iframe src="https://drive.google.com/file/d/1P0hp4ePo_SsonA3vokXqq1QBenQAHbkZ/preview" width="95%" height="100%" allow="autoplay"></iframe>
    </div>
    
    <div class="webpage">
      <div class="pageinfo">
          <img src="../static/pic/project6/1.png" alt="login page" >
          <img src="../static/pic/project6/2.png" alt="To Do List" >
          <img src="../static/pic/project6/3.png" alt="To Do List" >
          <img src="../static/pic/project6/4.png" alt="To Do List" >
      </div>
      <div class="pageinfo">
          <img src="../static/pic/project6/5.png" alt="To Do List" >
          <img src="../static/pic/project6/6.png" alt="To Do List" >
      </div>
      <div class="pageinfo">
          <img src="../static/pic/project6/7.png" alt="To Do List" >
          <img src="../static/pic/project6/8.png" alt="To Do List" >
      </div>
      <div class="pageinfo">
          <img src="../static/pic/project6/9.png" alt="To Do List" >
          <img src="../static/pic/project6/10.png" alt="To Do List" >
          <img src="../static/pic/project6/11.png" alt="To Do List" >
      </div>
    </div>
  </div>
  <script src="../static/js/backtotop.js"></script>
  
</body>
</html>