<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pichayapa Prasertwit | PORTFOLIO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="icon" href="../static/pic/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <button onclick="backtotop()" id="btt" title="Back to top"> 
    <i class="fas fa-arrow-up"></i>
  </button> 

  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgb(33, 28, 105,0.5), rgba(6 , 9, 24)), url(../static/pic/project4/4-0.jpg);">
    <div class='page' >
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      <div class="content">
        <h2>Unlock Temperature Controller</h2>
        <p>When the user inputs a password using the keypad, the password is displayed on the LCD screen. Upon pressing the confirmation button, if the password is correct as processed by the microcontroller, the system will then instruct the sensor to start operating and measure the temperature.</p>
        <br/>
        <p>Responsible for wiring the circuit and programming.</p>
      </div>
    </div>
  </div>
  <div style="background: rgba(6 , 9, 24);">
    <div class='detail'>
      <div class='pic'>
        <img src="../static/pic/project4/4-0.jpg" alt="Girl in a jacket" >
        <img src="../static/pic/project4/4-3.png" alt="Girl in a jacket" >
        <img src="../static/pic/project4/4-4.jpg" alt="Girl in a jacket" >
      </div>
    </div>
  </div>
  <script src="../static/js/backtotop.js"></script>
</body>
</html>