<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgba(6 , 9, 24, 0.5), rgba(6, 9, 24, 1)), url(../static/pic/project4/4-0.jpg);">
    <div class='page' >
      
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>เครื่องตรวจจับการนั่งหน้าจอคอมพิวเตอร์</h2>
        <p>วงจรที่ต่อเป็นวงจร IR sensor ซึ่งเป็นเซ็นเซอร์ตรวจจับวัตถุระยะใกล้ มีหลักการทำงานโดยให้หลอด Infrared LED 
        ทำการส่งสัญญาณ เป็นแสงอินฟราเรดออกไปตกกระทบกับวัตถุที่ตรวจพบในระยะ และทำการสะท้อนมายังตัวหลอดโฟโต้ไดโอด 
        ที่ทำหน้าที่รับแสงอินฟราเรด หลังจากนั้นทำการเชื่อมเข้ากับ Netpie เพื่อแสดงผลบนหน้าจอคอมพิวเตอร์</p>
      </div>
    </div>
  </div>
  <div class='page pdf'>
    <iframe src="https://drive.google.com/file/d/1w09CC2I9YLh3kxVX9QxuOM2jkdF_nmp7/preview" width="90%" height="100%" allow="autoplay"></iframe>
  </div>
  <div class='detail'>
    <div class='pic'>
      <img src="../static/pic/project4/4-0.jpg" alt="Girl in a jacket" >
      <img src="../static/pic/project4/4-3.png" alt="Girl in a jacket" >
      <img src="../static/pic/project4/4-4.jpg" alt="Girl in a jacket" >
    </div>
    <video width="85%" height="100%" controls>
      <source src="../static/pic/project4/Unlock.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</body>
</html>