<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/detail.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <div class="containerabout" style="background-image: linear-gradient(to bottom, rgba(6, 9, 24, 0.5), rgba(6, 9, 24, 1)), url(../static/pic/project5/5-4.png);">
    <div class='page' >
      
      <button onclick="history.back()">
        <i class="fas fa-arrow-left-long"></i> Back to projects
      </button>
      
      <div class="content">
        <h2>To Do List</h2>
        <p>วงจรที่ต่อเป็นวงจร IR sensor ซึ่งเป็นเซ็นเซอร์ตรวจจับวัตถุระยะใกล้ มีหลักการทำงานโดยให้หลอด Infrared LED 
        ทำการส่งสัญญาณ เป็นแสงอินฟราเรดออกไปตกกระทบกับวัตถุที่ตรวจพบในระยะ และทำการสะท้อนมายังตัวหลอดโฟโต้ไดโอด 
        ที่ทำหน้าที่รับแสงอินฟราเรด หลังจากนั้นทำการเชื่อมเข้ากับ Netpie เพื่อแสดงผลบนหน้าจอคอมพิวเตอร์</p>
      </div>
    </div>
  </div>
  <div class='pdf'>
    <iframe src="https://drive.google.com/file/d/1HoYO5ZpYNeoH-kh7gq4Rm8os1qcpu_9c/preview" width="85%" height="100%" allow="autoplay"></iframe>
  </div>
  
  <div class="webpage ">
    <img src="../static/pic/project5/5-0.png" alt="login page" >
    <img src="../static/pic/project5/5-3.png" alt="To Do List" >
    <img src="../static/pic/project5/5-2.png" alt="To Do List" >
    <img src="../static/pic/project5/5-4.png" alt="To Do List" >
  </div>
  <div class='videoyoutube'>
    <iframe src="https://www.youtube.com/embed/yDo-rSGl7BY?si=b2xb4ek64Mk1XIC9" width="85%" height="100%" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen ></iframe>
  </div>
</body>
</html>